.bg-effects
    background: $neutral-dark
    background: -webkit-linear-gradient(to right,$color-oposite, $color-primary)
    background: linear-gradient(to right, $color-oposite, $color-primary)
    min-height: 100vh
$repeat: 10
@for $i from 1 through $repeat 
    .bg-userGroup-#{$i}
        background: rgba(random(255),random(255),random(255), 0.2)
          