@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Open+Sans:wght@300;400&display=swap');
:root {
  --bs-gray-dark: #{$neutral-dark};
  --bs-gray: #{$neutral-base};
  --bs-primary: #{$color-primary};
  --bs-oposite: #{$color-oposite};
  --bs-soft-primary: #{lighten( $color-primary, 20%)};
}
.font-sight {
  font-family: $babylonica;
  color: $color-primary;
  font-weight: 300;
  font-size: 2rem;
  text-decoration: wavy;
  font-size: italic;
}

.font-base {
  font-family: $open;
}

h1, h2, h3, h4, p {
  font-family: $open;
  color: $color-primary;
  color: var(--bs-primary);
}

#app {
  font-family: $open;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
    
        
        
      
  
